* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  text-align: center;
}

.task p {
  word-break: break-all;
  width: 400px;
  text-align: left;
  padding: 0rem 1rem;
}

p,
h5 {
  font-weight: 500;
}

body {
  background-color: #003554;
}

.btn-primary {
  background-color: #006494;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1634078111133-a1e12d6131b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80)
    no-repeat center;
  background-size: cover;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1634078111133-a1e12d6131b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80)
    no-repeat center;
  background-size: cover;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #051923;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
}

.task {
  background-color: #00a6fb;
  border-radius: 15px;
  margin-bottom: 10px;
}
.archived-task {
  background-color: #00a6fb;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
}

.taskboard-form {
  width: 100%;
}

.a {
  font-size: 25px;
}

.a:hover,
.i:hover {
  color: darkgray;
  cursor: pointer;
}

.i {
  color: white;
  font-size: 25px;
}

.taskboard {
  padding: 20px;
  width: 90%;
  background-color: #0582ca;
  border-radius: 15px;
  margin-bottom: 50px;
}

.linetodo {
  background-color: red;
  height: 5px;
  border-radius: 10px;
}

.linedoing {
  background-color: orange;
  height: 5px;
  border-radius: 10px;
}

.linedone {
  background-color: rgb(16, 180, 16);
  height: 5px;
  border-radius: 10px;
}

.addtask {
  position: fixed;
  display: none;
  top: 55%;
  background: linear-gradient(#000, #116189);
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.updatecontainer {
  padding-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addtask-multi,
.archive {
  position: fixed;
  display: none;
  top: 50%;
  background: linear-gradient(#000, #116189);
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  flex-direction: column;
  align-items: center;
}

.multitask {
  width: 150px;
}

.active {
  display: flex;
}

select:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #051923;
}

input[type="datetime-local"] {
  color: #000;
}

option {
  color: #000;
}

.deadline {
  height: 35px;
  border-radius: 5px;
}

.deadtext {
  color: #003554 !important;
}

.task h5 {
  color: #051923;
}

input[type="datetime-local"] {
  width: 150px;
}

.add-close,
.add-multi-close,
.archive-close {
  border: none;
  cursor: pointer;
  background: none;
  color: aliceblue;
  font-size: 35px;
}

.add-close:hover,
.add-multi-close:hover,
.archive-close:hover {
  background-color: aliceblue;
  color: #000;
  transition: ease-in 0.2s;
  border-radius: 5px;
}

.todo {
  border: 5px solid red;
  border-radius: 15px;
  margin-bottom: 20px;
}

.doing {
  border: 5px solid orange;
  border-radius: 15px;
  margin-bottom: 20px;
}

.done {
  border: 5px solid rgb(16, 180, 16);
  border-radius: 15px;
  margin-bottom: 20px;
}

.todo,
.doing,
.done {
  width: 400px;
}

.d1 {
  background-color: red;
  height: 8px;
  width: 5px;
}

.numoftask {
  color: #000;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 10px;
  }

  .search {
    width: 48% !important;
  }

  .task p {
    width: 360px;
  }

  .updatecontainer {
    padding-top: 40%;
  }

  .todo,
  .doing,
  .done {
    width: 350px;
  }
}
